<div
    class="sticky left-0 grid grid-flow-row auto-rows-fr lg:grid-flow-col lg:auto-cols-fr lg:max-w-none divide-y lg:divide-y-0 lg:divide-x shadow-lg lg:shadow-none border-r lg:border-r-0 bg-card rounded-l lg:rounded-l-none">
    <div class="flex flex-col">
        <div class="flex flex-col justify-center p-4 pt-3 lg:py-8">
            <div class="text-xl lg:text-2xl font-medium">Lite</div>
            <div class="flex items-baseline lg:mt-4 whitespace-nowrap">
                <div class="hidden lg:block text-lg text-secondary">ZAR</div>
                <div class="lg:ml-2 text-2xl lg:text-4xl font-bold tracking-tight">R0</div>
                <div class="ml-2 text-lg text-secondary">/ mo</div>
            </div>
            <div class="mt-1 lg:mt-3 text-sm lg:text-base text-secondary">
                <div class="ng-star-inserted">Free</div>
            </div><button (click)="productSelect(0)" mat-flat-button=""
            class="w-full min-h-8 h-8 lg:min-h-10 lg:h-10 mt-3 lg:mt-6 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"><span
                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                class="mdc-button__label"><span class="lg:hidden">Buy</span><span class="hidden lg:inline-flex">Buy
                    Lite</span></span><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span><span class="mat-mdc-button-ripple"></span></button>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-col justify-center p-4 pt-3 lg:py-8">
            <div class="flex items-center">
                <div class="text-xl lg:text-2xl font-medium">Standard</div>
                <div
                    class="hidden lg:flex items-center h-6 px-3 ml-3 rounded-full text-sm font-semibold leading-6 tracking-wide bg-primary-100 text-primary-600">
                    POPULAR</div>
            </div>
            <div class="flex items-baseline lg:mt-4 whitespace-nowrap">
                <div class="hidden lg:block text-lg text-secondary">ZAR</div>
                <div class="lg:ml-2 text-2xl lg:text-4xl font-bold tracking-tight">R49</div>
                <div class="ml-2 text-lg text-secondary">/ mo</div>
            </div>
            <div class="mt-1 lg:mt-3 text-sm lg:text-base text-secondary">
                <div class="ng-star-inserted"><b>R49.99</b> billed monthly</div>
            </div><button (click)="productSelect(1)" mat-flat-button=""
                class="w-full min-h-8 h-8 lg:min-h-10 lg:h-10 mt-3 lg:mt-6 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"><span
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                    class="mdc-button__label"><span class="lg:hidden">Buy</span><span class="hidden lg:inline-flex">Buy
                        Standard</span></span><span class="mat-mdc-focus-indicator"></span><span
                    class="mat-mdc-button-touch-target"></span><span class="mat-mdc-button-ripple"></span></button>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-col justify-center p-4 pt-3 lg:py-8">
            <div class="text-xl lg:text-2xl font-medium">Premium</div>
            <div class="flex items-baseline lg:mt-4 whitespace-nowrap">
                <div class="hidden lg:block text-lg text-secondary">ZAR</div>
                <div class="lg:ml-2 text-2xl lg:text-4xl font-bold tracking-tight">R149</div>
                <div class="ml-2 text-lg text-secondary">/ mo</div>
            </div>
            <div class="mt-1 lg:mt-3 text-sm lg:text-base text-secondary">
                <div class="ng-star-inserted"><b>R149.00</b> billed monthly</div>
            </div><button (click)="productSelect(2)" mat-flat-button=""
            class="w-full min-h-8 h-8 lg:min-h-10 lg:h-10 mt-3 lg:mt-6 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"><span
                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                class="mdc-button__label"><span class="lg:hidden">Buy</span><span class="hidden lg:inline-flex">Buy
                    Premium</span></span><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span><span class="mat-mdc-button-ripple"></span></button>
        </div>
    </div>
</div>